body {
    margin: 0;
    padding: 0;
    font-family: 'Golos Text', 'Open Sans', sans-serif;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    background-color: rgb(10, 25, 47);
    position: fixed;
    width: 100%;
    color: white;
    opacity: 1;
    height: 60px;
    top: 0px;
    z-index: 12;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-items {
    display: flex;
    color: rgb(100, 255, 218);
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menu-items a {
    text-decoration: none;
    color: #ccd6f6;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
    color: #117964;
    transition: color 0.3s ease-in-out;
}

.logo {

    position: absolute;
    color: #ccd6f6;
    top: -20px;
    right: 15px;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../images/mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    filter: blur(0.3px);
}

.hero h1,
.hero h3 {
    margin: 0.3rem;
    text-align: center;
    color: rgb(10, 25, 47);  
    filter: blur(0px);
}


@media (max-width: 767px) {
    .navbar {
        opacity: 1;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 120px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 5px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #9BE9D7;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }

    .navbar .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .menu-items a {
        color: #444;
    }

    .logo {
        position: absolute;
        color: #ccd6f6;
        top: -20px;
        right: 15px;
        font-size: 2rem;
        cursor: pointer;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(35deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-35deg);
    }

    .hero {
        height: 100vh;
        filter: blur(0.3px);
    }

    .hero h1 {
        font-size: 2.4rem;
        color: aliceblue;
    }

    .hero h3 {
        color: aliceblue;
    }

    .hero p {
        color: aquamarine;
        text-align: center;
    }

}